.n24-sidebar {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 16px 0 0 16px;
  box-shadow: -10px 0px 30px 0px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  z-index: 3000;
  display: none;
}
.n24-sidebar .n24-sidebar-item {
  display: flex;
  width: 80px;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #171d8e;
  transition: 500ms;
}
.n24-sidebar .n24-sidebar-item:hover {
  background-color: #ffffff;
}
.n24-sidebar .n24-sidebar-item:not(:last-child) {
  border-bottom: 1px solid rgba(23, 29, 142, 0.8);
}
@media (max-width: 768px) {
  .n24-sidebar {
    display: none;
  }
}
